@use "../abstract" as var;

.welcome-screen {
  position: relative;

  width: 100%;
  height: 100vh;

  color: #ffffff;
  text-align: center;

  background-image: url('../../../public/images/video-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  overflow: hidden;

  &__video-wrapper {
    position: relative;

    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);

    border: none;
    aspect-ratio: (16 / 9);
  }

  &:after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .3);
  }
}

.welcome-screen__btn {
  position: relative;

  display: block;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  border-radius: 50%;
  border: 2px solid var.$brand-white;
  color: var.$brand-white;

  &::before {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 18px;
    height: 18px;
    margin-top: -8px;
    margin-left: -9.5px;

    background-image: url('../../../public/images/ico-top-arrow.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@include var.tablet-size {

  .welcome-screen__btn {
    width: 50px;
    height: 50px;


    &::before {
      content: '';

      width: 40px;
      height: 40px;
      margin-top: -18px;
      margin-left: -20px;
    }
  }
}

@include var.desktop-size {

  .welcome-screen {
    height: 100vh;
  }
}
