@use "../../abstract" as var;

.header-contacts {
  color: var.$brand-white;
  line-height: 1;
}

.header-contacts__phone {
  display: none;

  font-size: 19px;
  line-height: 1;
  font-weight: 700;
  color: inherit;
}

.header-contacts__order {
  display: none;

  font-size: 12px;
  line-height: 1;
  color: inherit;
  text-decoration: underline;
}

.header-contacts__mobile-phone {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
}

@include var.tablet-size {

  .header-contacts__mobile-phone {
    display: none;
  }

  .header-contacts__phone,
  .header-contacts__order {
    display: block;
  }
}
