@use "../../abstract/variables" as var;

.page__welcome-screen {
  margin-top: -110px;
}

.page__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 70px;
  font-family: "OpenSansCondensed-Light", Arial, sans-serif;
  font-weight: 400;
}
