@use "../../abstract" as var;

.page__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 32px;
  font-family: "OpenSansCondensed-Light", Arial, sans-serif;
  font-weight: 400;
}

.page__welcome-screen {
  margin-top: -100px;
}

@include var.tablet-size {

  .page__title {
    font-size: 70px;
  }

  .page__welcome-screen {
    margin-top: -110px;
  }
}
